<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="Login" value="Leonardo"/>
		<add key="Senha" value="123deOliveira4"/>
		<add key="Email" value="eumesmo@eu.com.nao.vou"/>
		<add key="LogAtivo" value="true"/>
		<add key="PathFileLog" value="./Log/"/>
	</appSettings>

</configuration>